<ModelForm @model={{this.skill}} @task={{@task}} as |form|>
	<section local-class="group">
		<h3 local-class="legend">{{t 'skill.form.informative'}}</h3>

		<form.input @name='name' @label={{t 'terms.name'}} />

		<form.input @name='slug' @label={{t 'terms.slug'}} />

		<form.text
			@name='description'
			@label={{t 'terms.description'}}
			@placeholder={{t 'skill.form.description.placeholder' skill=@sport.skillLabel}}/>

		<form.text
			@name='history'
			@label={{t 'terms.history'}}
			@placeholder={{t 'skill.form.history.placeholder' skill=@sport.skillLabel}}/>
	</section>

	<section local-class="group">
		<h3 local-class="legend">{{t 'terms.structure'}}</h3>

		<FormGroup @label={{@sport.groupPluralLabel}} as |id|>
			<PowerSelectMultiple
				@id={{id}}
				@allowClear={{true}}
				@searchField='title'
				@selected={{form.model.groups}}
				@options={{sort-by 'title' @sport.groups}}
				@onchange={{action (mut form.model.groups)}}
				as |group|>
				{{group.title}}
			</PowerSelectMultiple>
		</FormGroup>
	</section>

	<section local-class="group">
		<h3 local-class="legend">{{t 'terms.relationships'}}</h3>

		<RadioGroup
			@label={{t 'skill.type'}}
			@value={{form.model.type}}
			@changed={{action (mut form.model.type)}}
			as |radio|>

			{{#each-in this.types as |type|}}
				<radio.option
					@value={{type}}
					@label={{t (concat 'skill.form.' type)}}
					@description={{t (concat 'skill.form.' type '.description')}}/>
			{{/each-in}}
		</RadioGroup>

		{{#if (or (eq form.model.type this.types.skill) (eq form.model.type this.types.multiple))}}
		<FormGroup @label={{t 'skill.parents'}} as |id|>
			<PowerSelectMultiple
				@id={{id}}
				@searchField='name'
				@allowClear={{true}}
				@selected={{form.model.relationships.parents}}
				@options={{this.options}}
				@onchange={{action (mut form.model.relationships.parents)}}
				as |skill|>
				{{skill.name}}
			</PowerSelectMultiple>
		</FormGroup>
		{{/if}}

		{{#if (eq form.model.type this.types.composite)}}
		<FormGroup @label={{t 'skill.parts'}} as |id|>
			<PowerSelectMultiple
				@id={{id}}
				@searchField='name'
				@allowClear={{true}}
				@selected={{form.model.relationships.parts}}
				@options={{this.options}}
				@onchange={{action (mut form.model.relationships.parts)}}
				as |skill|>
				{{skill.name}}
			</PowerSelectMultiple>
		</FormGroup>
		{{/if}}

		{{#if (eq form.model.type "skill")}}
		<FormGroup @label={{t 'skill.multiple-of'}} as |id|>
			<PowerSelect
				@id={{id}}
				@searchFile='name'
				@allowClear={{true}}
				@options={{this.multiples}}
				@selected={{form.model.relationships.multipleOf}}
				@onchange={{action (mut form.model.relationships.multipleOf)}}
				as |skill|>
				{{skill.name}}
			</PowerSelect>
		</FormGroup>

			{{#if form.model.relationship.multipleOf}}
			<form.input @name='relationship.multiplier' @label={{concat (t 'skill.multiplier') '[°]'}} />
			{{/if}}
		{{/if}}
	</section>

	<Button type="submit" disabled={{or @task.isRunning (not form.model.isDirty)}}>{{t 'actions.save'}}</Button>
</ModelForm>