<Link @route={{@route}} as |l|>
  <a
    href={{l.href}}
    class={{if l.isActive "is-active"}}
    {{on "click" (fn this.transition l.transitionTo)}}
    ...attributes
  >
    {{yield}}
  </a>
</Link>