{{#if @sport.featureInstruments}}
<h3>{{@sport.instrumentPluralLabel}}</h3>

<div local-class="select-details">
	<div>
		<span local-class="item" class={{if (eq this.selected null) (local-class 'selected')}} onclick={{bind this.add}}><FaLight @icon='plus'/> {{t 'sport.manage.new' thing=@sport.instrumentLabel}}</span>
		<ul local-class="list">
			{{#each @sport.instruments as |instrument|}}
				<li local-class="item" class={{if (eq instrument this.selected) (local-class 'selected')}} onclick={{bind this.select instrument}}>
					{{instrument.title}}
					<span local-class="delete" onclick={{bind this.remove instrument.id}}><FaLight @icon='trash-alt'/></span>
				</li>
			{{/each}}
		</ul>
	</div>
	<div>
		{{#if this.task}}
		<Form @instrument={{this.selected}} @task={{this.task}}/>
		{{/if}}
	</div>
</div>

{{/if}}