<header local-class="appbar">
	<div local-class="content">

		<div local-class="left">
			{{#link-to 'index' class=(local-class "brand")}}Spomoda{{/link-to}}
			<nav>
				{{#link-to 'suggest'}}Suggest{{/link-to}}
				{{#link-to 'review'}}Review{{/link-to}}
			</nav>
		</div>

		<div local-class="user">
			{{#if this.loggedIn}}
				{{this.profile.name}} <Avatar @src={{this.profile.picture}} local-class="avatar"/>
			{{else}}
				<a onclick={{bind this.login}}>Login</a>
			{{/if}}
		</div>
	</div>
</header>

{{outlet}}