<ModelForm @model={{@group}} @task={{@task}} as |form|>
	<form.input
		@name='title'
		@label={{t 'terms.title'}}
	/>

	<form.text
		@name='description'
		@label={{t 'terms.description'}}
	/>

	<Button type="submit" disabled={{or @task.isRunning (not form.model.isDirty)}}>{{t (if form.model.id 'actions.save' 'actions.add')}}</Button>
</ModelForm>