<div ...attributes>
	{{#if @label}}
		<label local-class="label" for={{this.id}}>{{@label}}</label>
	{{/if}}

	{{#if @description}}
		<label local-class="description" for={{this.id}}>{{@description}}</label>
	{{/if}}

	<div>
		{{yield (hash Option=(component 'radio-group/option' group=this))}}
	</div>
</div>