{{#if @sport.featureComposition}}
<h3>{{@sport.positionPluralLabel}}</h3>

<div local-class="select-details">
	<div>
		<span local-class="item {{if (eq this.selected null) 'selected'}}" {{on "click" this.add}}>
			<FaLight @icon='plus'/> {{t 'sport.manage.new' thing=@sport.positionLabel}}
		</span>
		<ul local-class="list">
			{{#each @sport.positions as |position|}}
				<li local-class="item {{if (eq position this.selected) 'selected'}}" {{on "click" (fn this.select position)}}>
					{{position.title}}
					<span local-class="delete" {{on "click" (fn this.remove position.id)}}><FaLight @icon='trash-alt'/></span>
				</li>
			{{/each}}
		</ul>
	</div>
	<div>
		{{#if this.task}}
		<Form @position={{this.selected}} @task={{this.task}}/>
		{{/if}}
	</div>
</div>

{{/if}}